
	
<h1> This is the Home Page </h1>

<p>
 More data here please check the design	
</p>

<!-- Sign up start //-->
  <%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %>
<!-- Sign up end //-->